/* THIS SECTION IS FOR THE BODY OF THE PAGE, THE HIGHEST LEVEL*/

.wrapper{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* max-width: 1000px; */
    position: relative;
}

body{
    /* background-color: yellow; */
    background-image: url(https://images.pexels.com/photos/219998/pexels-photo-219998.jpeg?cs=srgb&dl=beach-birds-calm-clouds-219998.jpg&fm=jpg);
    background-image: cover;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 25px 5% 50px 5%;
}

/* THIS SECTION IS FOR THE TITLE PART OF THE PAGE */

header{
    /* position: relative; */
    font-family: 'Chicle', cursive;
    width: 100%;
    padding: 5px 20px 5px 20px;
    background-color: blue;
    font-size: 2em;
    color: white;
    text-align: center;
    border: 3px solid red;
    box-sizing: border-box;
    /* min-width: 850px; */
}

/* THIS SECTION IS FOR THE MENU ONLY */

menu{
    /* Generic styling */
    top: 0px;
    margin-top: 0px;
    box-sizing: border-box;
    background-color: blue;
    padding-left: 75px;
    padding-right: 75px;
    border: solid 2px red;
    font-size: 1.5em;
    width: 100%;
    position: sticky;
    
    /* Flexbox */
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}

menu p{
    /* Generic styling */
    padding: 5px 5px 5px 5px ;
    /* padding-left: 5px;
    padding-right: 5px; */
    background-color: lime;
    border: solid 2px red;
    color: red;
}

menu p:hover{
    /* Generic styling */
    cursor: cell;
    padding: 5px 18px 5px 18px ;
    background-color: tomato;
    transition: 1s;
}

/* THIS SECTION IS FOR PARAGRAPHS WITH A PICTURE TO THE SIDE */

article{
    /* Generic styling */
    border: 3px solid red;
    margin-top: 30px;
    padding: 20px 20px 20px 20px;
    background-color: blue;                                  
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;
    color: white;
    text-align: justify;
    justify-content: center;                    

    /* Flexbox */
    display: flex; 
    flex-direction: row;           
}

.text_lhs{
    /* Generic styling */
    border: 5px solid red;
    margin: 20px;

    /* Flexbox */
    flex: 2;
}

.pic_rhs{ 
    /* Generic styling */
    border: 5px solid red;
    margin: 20px;
    background: clear;
    text-align: center;
    
    /* Flexbox */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
          
@media only screen and (max-width: 768px) {
    article {        
    flex-direction: column;

    }

    menu{
        position: static;

    }
}

/* THIS SECTION IS FOR PARAGRAPHS WRAPPED AROUND TEXT */


.spread{
    border: 5px solid red;
    /* margin: 20px; */
    background-color: green;
    flex-direction: column;
}

.spreadtext{
    color: black;
    margin: 20px;
    font-size: 1.2em;
}

.spreadtext-div{
    border: 2px solid red;
}

.spreadtext-img{
    border: 2px solid red;
    float:left;
}

.FW{
    width: 100%;
    color: black;
    background-color: cyan;
    border: 2px solid blue;
}


